In [1]:
import sqlite3
import pandas as pd
import matplotlib as mpl
import csv

In [20]:
# establish database connection
conn = sqlite3.connect('pursell.db')

# create cursor to execute sql
click = conn.cursor()

# Establish Customer Table

In [3]:
# delete table if already present / establish fresh, clean start to file when working in Kernal > 'Restart & Run All' order
click.execute('''DROP TABLE customer''')

# create customer table
click.execute('''CREATE TABLE customer (
    customer_id INTEGER PRIMARY KEY,
    first VARCHAR(25) NOT NULL,
    last VARCHAR(25) NOT NULL,
    email VARCHAR(75) NOT NULL,
    street VARCHAR(25) NOT NULL,
    city VARCHAR(50) NOT NULL,
    state VARCHAR(15) NOT NULL,
    zip_code INTEGER NOT NULL,
    birthdate DATE NOT NULL,
    payment REAL NOT NULL
)''')

# I know I want to access the csv file and hold that value here in python
# customer_sheet = open('customer.csv')

# I also know python has to read the file that I open
# customer_contents = csv.reader(customer_sheet)



# A 'with-block' means the file automatically closes
with open('customer.csv', 'r') as f:
    # customer_sheet will hold the value of the csv being parsed
    # reader throws an error
    # Dictreader provides a fieldname parameter I can iterate over
    customer_sheet = csv.DictReader(f)
    
    # list comprehension time! 
    
    # to iterate over my csv and store each row and data point respectively
    # by corresponding header fields
    data_customer = [(i['customer_id'], i['first'], i['last'], i['email'], i['street'], i['city'], i['state'], i['zip_code'], i['birthdate'], i['payment']) for i in customer_sheet]

# Insert Data for Customer Table

In [4]:
# as for the database
# INSERT INTO customer table the column names and corresponding values per column
customer_insertion = "INSERT INTO customer (customer_id, first, last, email, street, city, state, zip_code, birthdate, payment) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)"

In [5]:
# for sql to insert all data points parsed from the csv
click.executemany(customer_insertion, data_customer)

conn.commit() #necessary to save changes to the customer table

# Establish Delivery Table with Data

In [6]:
# delete table if already present
click.execute('''DROP TABLE IF EXISTS delivery''')

# create customer table
click.execute('''CREATE TABLE delivery (
    package TEXT PRIMARY KEY,
    customer_id INTEGER,
    ordered TIMESTAMP,
    delivered TIMESTAMP,
    payment VARCHAR(25),
    sold REAL,
    first TEXT NOT NULL,
    last TEXT NOT NULL,
    street VARCHAR(75) NOT NULL,
    city TEXT,
    state TEXT, 
    zip_code INTEGER,
    purse INTEGER
)''')

# Automatically closing the file means I save a line of code later on
with open('delivery.csv', 'r') as file:
    delivery_sheet = csv.DictReader(file)
    data_delivery = [(i['package'], i['customer_id'], i['ordered'], i['delivered'], i['payment'], i['sold'], i['first'], i['last'], i['street'], i['city'], i['state'], i['zip_code'], i['purse']) for i in delivery_sheet]


# feeding the values python just read, held into data_delivery 
delivery_insertion = "INSERT INTO delivery (package, customer_id, ordered, delivered, payment, sold, first, last, street, city, state, zip_code, purse) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)"

# for sql to execute the statement to insert all data points parsed from the csv
click.executemany(delivery_insertion, data_delivery)

conn.commit() #necessary to save changes within the database to the delivery table

# About the Data

Some fun nuance exists and assumptions are to be made. 

**1. Any and all items priced below  250.00 must be assumed to be purse hardware.** 
    
    - Only if the item sold for  250.00 or more is the item definitively a purse because it is impossible to 
    buy a customizable purse for less than the standard box price of 250.00. 
    - Prices include taxes and shipping respectively


**2. We can assume the possibilty exists within the data for the customer address fields to not be the same as the delivery address fields.**
    
    - Two assumptions available from this include 1) gifts and 2) fraud.
        - Likewise, may not be assumed that 'delivery customer first' will always match 'customer first'.


**3. The 'purse' column contains only unique values; the assumption exists that each order is an individual, one-of-a-kind shipment that cannot be reproduced.** A small dataset and lightweight database can still scream "Mission Critical" as I take on the world of fine art and fashion with an entrepreneurial spirit.
    
    - I also took the luxury of nixing the possibility of NULL values. Any NaN value should be impossible given the minimal collection of data to perform business. 
    - Fun statement to leave room for a version 2 in the future featuring expansion of database by adding extra data

# Time to Query

This is where I get to know my customers a little bit. As a small business, I personally discuss each order with each customer payment, and it's important I'm able to ask questions to make decisions. 

I must know that all my data has been sent to my database, though!

In [7]:
# I need a query to ask how many records exist in my customer table
customer_cells = ('''SELECT COUNT(*)
    FROM customer''')

# a variable to hold the query execution
customer_rows = click.execute(customer_cells).fetchall()

for c in customer_rows:
    print(c)

(100,)

In [8]:
# I want a better view than that. Let's clean that up!

# Let's use some string formatting again
fmt = "{0}"
for cr in customer_rows:
    cr = int(fmt.format(*cr)) #integer casting for easy adding of the variable elsewhere
    print(cr)

100

So I know all 100 rows of customer data made it to my database. Let me just double-check my delivery sheet as well by adding my delivery sheet count. I know the database is perfect if it has exactly 200 rows available.

In [9]:
for d in click.execute('''SELECT COUNT(*) FROM delivery''').fetchall():
    delivery_cells = int(fmt.format(*d)) # integer casting for easy adding in the next line
    print(delivery_cells+cr)

200

In [10]:
##  #create a SELECT statement to interact with database

#select_all = "SELECT * FROM customer"
select_all = "SELECT * FROM delivery ORDER BY ordered" 

##  #retrieve the rows from the database and hold that value for python
rows = click.execute(select_all).fetchall() 



##  #print the rows in python for us to see


## #create an email list
#fmt_email_customer = "{0}) {1} {2}: {3}"  ## #removed sensitive data beyond scope of necessity


## # view a delivery inventory of sorts
fmt_whole_delivery = "{0}--{1}  {2} || {3}    $ {5} ---> {6} {7} ({10})" ## #removed address/sensitive details

for v in rows:
#    customer_email_view = fmt_whole_customer.format(*v)
    delivery_whole_view = fmt_whole_delivery.format(*v)
    print() #extra space for clear view
    print(delivery_whole_view)

P94--94  2020-01-13 2:09:16 || 2020-01-23 10:56:34    $ 132.34 ---> Scottie Alliband (Louisiana)

P65--65  2020-02-08 11:34:58 || 2020-02-15 1:18:33    $ 2993.22 ---> Merna Shakesby (Minnesota)

P89--89  2020-02-15 9:17:56 || 2020-02-27 15:54:02    $ 106.53 ---> Celie Di Pietro (Louisiana)

P36--36  2020-02-24 18:08:34 || 2020-03-04 4:52:10    $ 2771.22 ---> Kylen Handrahan (Georgia)

P60--60  2020-03-06 13:27:22 || 2020-03-11 20:35:01    $ 1748.35 ---> Claretta Lumbly (Michigan)

P56--56  2020-03-22 22:45:21 || 2020-08-11 7:46:38    $ 649.81 ---> Aloysius Bulmer (Michigan)

P61--61  2020-03-25 19:54:17 || 2020-04-05 23:10:13    $ 2413.32 ---> Florry Yeowell (Georgia)

P87--87  2020-04-27 22:47:06 || 2020-05-05 14:28:52    $ 1373.74 ---> Hana Borless (Michigan)

P78--78  2020-05-24 22:17:18 || 2020-06-02 16:25:10    $ 2965.18 ---> Juliane Birtle (California)

P40--40  2020-06-03 4:19:21 || 2020-06-16 8:14:59    $ 63.65 ---> Pierson Ingleby (California)

P77--77  2020-06-19 20:08:13 || 2020-06-30 11:37:01    $ 2398.94 ---> Even Halm (Florida)

P49--49  2020-06-23 0:54:35 || 2020-07-01 12:24:18    $ 560.02 ---> Kara Kanter (California)

P27--27  2020-06-29 7:58:08 || 2020-07-23 21:35:47    $ 1275.53 ---> Mora Crowder (Louisiana)

P71--71  2020-07-12 19:10:13 || 2020-07-24 18:23:54    $ 2329.78 ---> Kare Michele (Minnesota)

P83--83  2020-07-12 5:35:51 || 2020-07-24 7:27:16    $ 1483.69 ---> Andie Grishechkin (Alabama)

P17--17  2020-07-17 19:51:07 || 2020-08-27 2:25:04    $ 2806.21 ---> Branden Huygens (Wisconsin)

P35--35  2020-07-28 9:24:52 || 2020-08-08 22:03:08    $ 2537.93 ---> Bruce Colebourne (California)

P39--39  2020-08-07 10:40:21 || 2020-08-18 3:48:42    $ 1939.43 ---> Sara Enberton (Florida)

P1--1  2020-08-07 6:53:42 || 2020-08-15 20:43:12    $ 1396.85 ---> Jody Willatts (Florida)

P13--13  2020-08-18 6:13:44 || 2020-08-28 6:40:12    $ 2929.46 ---> Goddart Root (Georgia)

P74--74  2020-08-30 8:02:28 || 2020-09-15 12:49:29    $ 959.13 ---> Ber Capehorn (Florida)

P51--51  2020-09-11 2:30:33 || 2020-09-22 13:08:20    $ 2687.19 ---> Marin Dorbon (Georgia)

P97--97  2020-09-23 10:08:33 || 2020-10-15 11:15:00    $ 899.91 ---> Matias Muckle (California)

P98--98  2020-10-28 20:33:35 || 2020-11-08 8:49:34    $ 1071.91 ---> Tara Mackle (Florida)

P42--42  2020-10-28 8:36:45 || 2020-11-04 12:11:37    $ 1754.99 ---> Field Lashley (California)

P63--63  2020-12-04 3:28:22 || 2020-12-23 23:58:00    $ 1385.89 ---> Rustin Goodrich (Alabama)

P33--33  2020-12-11 13:32:26 || 2020-12-23 20:21:17    $ 439.9 ---> Harriott Ingon (California)

P59--59  2020-12-21 14:19:53 || 2021-01-05 14:15:38    $ 1689.1 ---> Laetitia Guerra (Florida)

P79--79  2020-12-29 12:45:00 || 2020-01-15 18:46:23    $ 999.56 ---> Cyrus Milland (California)

P28--28  2020-12-31 5:06:22 || 2020-01-15 4:19:51    $ 2588.41 ---> Maria Kemm (California)

P52--52  2021-01-12 15:12:51 || 2021-01-18 20:27:35    $ 1173.13 ---> Tadeas Lumby (Michigan)

P11--11  2021-01-19 12:58:15 || 2021-01-29 13:10:03    $ 1688.96 ---> Tadeo Flacke (Minnesota)

P54--54  2021-01-21 3:05:15 || 2021-02-01 23:51:57    $ 2467.52 ---> Obediah McVeighty (California)

P16--16  2021-02-08 17:00:34 || 2021-02-26 10:36:26    $ 2286.68 ---> Rea Ghelardoni (Minnesota)

P37--37  2021-03-06 13:31:09 || 2021-03-16 5:54:53    $ 2751.36 ---> Mychal Brandi (Florida)

P20--20  2021-04-08 22:07:06 || 2021-04-18 6:12:37    $ 1484.93 ---> Licha Rantoul (California)

P92--92  2021-04-10 14:07:25 || 2021-04-20 23:17:16    $ 1136.04 ---> Shaina Snoxell (Oregon)

P91--91  2021-05-02 18:36:02 || 2021-05-12 21:04:46    $ 132.39 ---> Koren Lillgard (Wisconsin)

P99--99  2021-05-24 4:07:58 || 2021-06-02 23:22:27    $ 1236.24 ---> Dion Penhaligon (Florida)

P9--9  2021-06-07 14:30:50 || 2021-06-20 16:26:26    $ 1792.4 ---> Matilde Skottle (Florida)

P4--4  2021-06-09 16:54:13 || 2021-06-12 0:22:52    $ 208.87 ---> Amerigo Glass (California)

P26--26  2021-06-12 14:04:45 || 2021-06-24 18:17:10    $ 2140.07 ---> Perrine McMorran (Florida)

P95--95  2021-07-15 9:27:38 || 2021-08-01 21:57:09    $ 2195.64 ---> Kayle Lowfill (Michigan)

P73--73  2021-07-17 7:31:59 || 2021-07-29 21:21:45    $ 1336.05 ---> Cherice Eliasen (Louisiana)

P81--81  2021-08-06 18:17:16 || 2021-08-16 11:53:52    $ 698.82 ---> Canton Fowler (Michigan)

P22--22  2021-08-24 18:42:08 || 2021-09-01 6:36:27    $ 1843.72 ---> Clemence Rosenbush (Florida)

P18--18  2021-08-26 8:35:36 || 2021-08-30 11:02:18    $ 2640.84 ---> Ibrahim Tarver (California)

P64--64  2021-09-11 12:09:05 || 2021-09-25 7:17:19    $ 1061.04 ---> Jacquetta Isham (Michigan)

P41--41  2021-10-01 17:29:10 || 2021-10-11 7:25:48    $ 1207.62 ---> Adelle Linke (Florida)

P2--2  2021-10-11 11:15:53 || 2021-10-22 15:30:58    $ 1741.29 ---> Ginger McGinny (California)

P72--72  2021-10-27 23:14:16 || 2021-11-05 13:48:30    $ 2565.2 ---> Fonz Fricke (Minnesota)

P96--96  2021-11-02 15:49:11 || 2021-11-22 0:01:26    $ 1275.94 ---> Marylinda Kemmett (Florida)

P25--25  2021-12-13 6:46:25 || 2021-12-23 6:16:55    $ 37.19 ---> Augustin Grennan (Alabama)

P7--7  2021-12-15 3:37:40 || 2021-12-22 22:44:41    $ 1720.9 ---> Florella Goodband (Florida)

P76--76  2022-01-28 12:13:21 || 2023-02-06 3:05:12    $ 227.95 ---> Jehu Durman (Oregon)

P45--45  2022-01-30 5:14:54 || 2022-02-09 3:54:59    $ 2074.22 ---> Miranda Dunhill (Florida)

P10--10  2022-01-31 17:21:08 || 2022-02-06 23:23:37    $ 1660.81 ---> Gaile Markie (Florida)

P8--8  2022-02-02 0:28:49 || 2022-02-05 22:50:19    $ 857.19 ---> Garrot Reeman (California)

P44--44  2022-02-11 11:46:50 || 2022-02-22 20:45:54    $ 760.22 ---> Cayla Gentile (California)

P34--34  2022-02-12 22:05:06 || 2022-02-24 3:14:06    $ 2476.18 ---> Piper Cunnow (California)

P75--75  2022-02-15 19:14:18 || 2022-02-25 10:02:54    $ 2595.36 ---> Jolanna Denmor (Florida)

P55--55  2022-03-06 23:10:11 || 2022-03-12 11:03:12    $ 604.01 ---> Oriana Neathway (Alabama)

P67--67  2022-03-13 14:02:33 || 2022-03-23 0:05:07    $ 50.64 ---> Brittaney MacTrusty (Alabama)

P90--90  2022-04-11 4:28:46 || 2022-04-22 5:58:00    $ 1584.43 ---> Katina Bentke (Florida)

P57--57  2022-05-09 20:27:04 || 2022-05-19 4:45:56    $ 2804.48 ---> Kara-lynn Longfoot (California)

P85--85  2022-06-29 7:59:09 || 2022-07-08 16:06:56    $ 2064.23 ---> Rivkah Ivushkin (Minnesota)

P21--21  2022-07-06 11:27:41 || 2022-07-12 1:33:08    $ 2154.31 ---> Clayton Bolte (Louisiana)

P12--12  2022-07-16 9:33:19 || 2022-07-20 7:51:14    $ 511.07 ---> Lisabeth Gunning (California)

P24--24  2022-07-21 16:22:19 || 2022-07-30 1:37:59    $ 596.08 ---> Linnea Bridat (Louisiana)

P69--69  2022-08-18 14:05:50 || 2022-08-28 14:16:46    $ 948.79 ---> Kiley Mountstephen (Louisiana)

P88--88  2022-08-28 1:36:35 || 2022-09-08 3:55:27    $ 2312.97 ---> Calv Macklam (Michigan)

P53--53  2022-09-21 21:31:27 || 2022-10-01 15:48:33    $ 2553.77 ---> Chevy Phillcox (California)

P66--66  2022-10-06 11:41:58 || 2022-10-16 8:51:42    $ 2807.0 ---> Doy McCathy (California)

P47--47  2022-10-13 19:18:09 || 2022-10-20 23:21:08    $ 2819.96 ---> Verna Lelliott (California)

P5--5  2022-10-16 9:39:00 || 2022-10-20 16:56:17    $ 900.88 ---> Therese Christmas (Florida)

P62--62  2022-10-25 22:10:54 || 2022-11-02 6:25:32    $ 2956.71 ---> Petey Bysshe (Florida)

P86--86  2022-11-03 1:02:59 || 2022-11-13 15:17:58    $ 2985.24 ---> Vittorio Pavitt (Florida)

P14--14  2022-11-29 13:43:14 || 2022-12-05 23:59:07    $ 2736.41 ---> Kinsley Carnier (Florida)

P58--58  2022-12-25 4:01:15 || 2023-01-05 23:51:29    $ 1000.12 ---> Shay Schoroder (Florida)

P31--31  2022-12-26 9:37:45 || 2023-01-15 7:11:46    $ 2847.29 ---> Sebastian Skellington (California)

P50--50  2022-12-27 10:32:15 || 2023-01-08 21:51:07    $ 1432.66 ---> Christean Sanchez (California)

P80--80  2022-12-28 5:37:25 || 2023-01-15 3:28:34    $ 264.05 ---> Jeffrey Mintram (California)

P82--82  2023-01-02 8:06:22 || 2023-01-08 22:31:36    $ 509.2 ---> Chryste Whittock (Louisiana)

P23--23  2023-01-24 4:50:17 || 2023-02-04 17:05:50    $ 839.93 ---> Thomasine Grimstead (Minnesota)

P38--38  2023-02-18 8:38:45 || 2023-08-30 10:35:28    $ 815.57 ---> Penni Pawlyn (Michigan)

P15--15  2023-03-16 5:34:50 || 2023-03-20 3:06:40    $ 1928.26 ---> Doralin Geeraert (California)

P84--84  2023-03-22 4:28:44 || 2023-03-30 8:38:54    $ 877.86 ---> Chelsea McAnulty (California)

P3--3  2023-05-04 20:33:28 || 2023-05-14 23:01:45    $ 476.13 ---> Raymund Postlethwaite (Florida)

P68--68  2023-05-05 5:11:26 || 2023-05-10 15:49:43    $ 384.91 ---> Tersina Youd (California)

P43--43  2023-05-13 13:29:50 || 2023-05-18 15:18:38    $ 2011.21 ---> Annalee Attwell (Minnesota)

P32--32  2023-05-18 14:48:12 || 2023-05-30 21:34:47    $ 1983.52 ---> Corty Ambrogio (Michigan)

P70--70  2023-05-28 22:25:31 || 2023-06-05 19:28:26    $ 2333.52 ---> Johnath Fruchter (Florida)

P19--19  2023-06-08 2:43:58 || 2023-06-16 17:13:41    $ 2523.24 ---> Umberto Ferroni (Florida)

P100--100  2023-06-14 13:22:23 || 2023-06-20 19:14:42    $ 2566.11 ---> Grannie Maunton (Georgia)

P48--48  2023-07-29 13:56:19 || 2023-08-05 22:13:07    $ 1995.28 ---> Harbert Riddoch (Alabama)

P93--93  2023-08-08 13:34:01 || 2023-08-18 14:15:44    $ 52.56 ---> Darryl De Giorgio (Florida)

P6--6  2023-08-13 4:55:15 || 2023-08-23 15:22:25    $ 742.84 ---> Lizette Manjin (Florida)

P46--46  2023-08-22 12:12:10 || 2023-08-28 21:03:45    $ 1831.16 ---> Hobart Glazier (California)

P29--29  2023-09-15 8:18:39 || 2023-09-28 9:55:32    $ 663.01 ---> Thomas Pickford (Florida)

P30--30  2023-09-18 6:48:34 || 2023-09-28 7:33:47    $ 2479.19 ---> Alisander Bridgnell (Georgia)

Perfect! So I know that all 200 cells of data points from each of my csv files have successfully transferred into my database, with 100 records per table. 

For my first order of business, I want to send a personalized follow-up gift thanking each customer for their purchase. I decide my preferred method of going about this task is to send a birthday gift to everybody.

In [27]:
# sql query
birthday_list = ('''SELECT first, birthdate
                FROM customer
                ORDER BY birthdate''')

# view query result
fmt_two = "{0},  {1}"
for r in click.execute(birthday_list).fetchall():
    birthday_list = fmt_two.format(*r)
    # print()           ##extra space in case easier to view
    print(birthday_list)

Penni,  1930-01-03
Raymund,  1930-10-02
Adelle,  1932-01-24
Hugues,  1933-09-09
Chevy,  1935-01-28
Umberto,  1935-04-10
Hana,  1935-11-19
Alisander,  1936-09-18
Harbert,  1937-08-21
Karissa,  1938-10-04
Pierson,  1939-12-20
Clayton,  1940-01-26
Doy,  1940-05-18
Claretta,  1941-02-22
Licha,  1941-05-28
Tersina,  1941-10-27
Rustin,  1942-06-18
Harriott,  1943-03-31
Gaile,  1944-07-12
Fowler,  1945-01-31
Ginger,  1946-08-24
Fonz,  1946-11-05
Marin,  1948-06-20
Darryl,  1949-03-26
Clemence,  1949-09-15
Garrot,  1950-03-11
Matilde,  1950-04-10
Branden,  1951-11-27
Perrine,  1952-11-22
Jehu,  1953-05-08
Christean,  1953-10-18
Aloysius,  1955-06-26
Matias,  1957-04-16
Celie,  1957-06-11
Kara,  1958-12-05
Chryste,  1959-12-15
Tadeas,  1961-04-12
Kara-lynn,  1962-01-09
Jody,  1962-10-04
Kare,  1962-12-23
Rivkah,  1963-05-05
Grannie,  1966-02-02
Kayle,  1966-06-20
Vittorio,  1966-09-21
Cayla,  1967-12-19
Thomasine,  1968-08-25
Therese,  1968-10-08
Juliane,  1968-10-29
Rea,  1968-11-05
Doralin,  1971-01-30
Johnath,  1971-06-22
Katina,  1973-04-14
Brittaney,  1973-05-24
Laetitia,  1973-07-24
Marylinda,  1974-03-01
Piper,  1974-09-11
Oriana,  1974-12-31
Shaina,  1975-03-09
Field,  1975-04-23
Kylen,  1975-09-08
Jeffrey,  1975-12-10
Petey,  1977-12-13
Verna,  1978-12-03
Linnea,  1980-08-03
Cyrus,  1981-07-06
Sebastian,  1981-11-10
Bruce,  1984-01-05
Kiley,  1984-02-14
Aaren,  1984-10-12
Dion,  1984-11-15
Koren,  1985-09-26
Even,  1986-08-10
Corty,  1987-02-02
Kinsley,  1988-01-27
Augustin,  1988-03-29
Amerigo,  1991-06-30
Mychal,  1991-09-12
Chelsea,  1992-03-03
Thomas,  1992-03-13
Scottie,  1993-03-16
Miranda,  1993-04-30
Goddart,  1993-10-12
Lisabeth,  1994-04-16
Florella,  1994-06-21
Ibrahim,  1995-07-31
Jacquetta,  1995-08-11
Florry,  1996-04-14
Tadeo,  1996-05-26
Butch,  1997-01-04
Hobart,  1997-02-05
Calv,  1997-04-21
Annalee,  1997-07-19
Lizette,  1997-12-19
Obediah,  1998-03-12
Ber,  1998-05-18
Andie,  1998-09-14
Merna,  1998-10-19
Cherice,  1998-11-01
Shay,  1999-06-17
Mora,  1999-07-27

#### I have two types of gifts available:

1. decorated wallets
2. gold-plated tins

To help me split the population between these two options, I choose to make an assumption of which to base my condition upon.

I make an assumption that the earliest generations would likely enjoy the style of wallet available, because the images styled on them resemble more modern cartoon characters from recent pop culture. 

The more reserved appearance of the minimalistic gold tins may then appeal to the older generations.

In [16]:
# Pretending it's September now, I realize I need to filter by month as well. 
# I'm going to start now, looking at October. 

# sql query
query_october_tin = ('''SELECT first, birthdate
                FROM customer
                WHERE (birthdate LIKE '%-10-%') AND (birthdate <= '1994-12-31')
                ORDER BY birthdate''')

# view query result
for oct_tin in click.execute(query_october_tin).fetchall():
    october_tins = fmt_two.format(*oct_tin)
    print(october_tins)

Raymund, 1930-10-02
Karissa, 1938-10-04
Tersina, 1941-10-27
Christean, 1953-10-18
Jody, 1962-10-04
Therese, 1968-10-08
Juliane, 1968-10-29
Aaren, 1984-10-12
Goddart, 1993-10-12

In [17]:
# Now I'm going to determine the october wallets to prepare: 

# sql query
query_oct_wallets = ('''SELECT first, birthdate
                FROM customer
                WHERE (birthdate LIKE '%-10-%') AND (birthdate >= '1995-01-01')
                ORDER BY birthdate''')

# view query result
for oct_wallet in click.execute(query_oct_wallets).fetchall():
    october_wallets_go_to = fmt_two.format(*oct_wallet)
    print(october_wallets_go_to)

Merna, 1998-10-19

Wow. Only one wallet to send out currently.

# Now to create an email list to keep in touch with my beloved customers

In [48]:
##  #create a SELECT statement to interact with database

select_all = "SELECT * FROM customer WHERE (birthdate LIKE '%-10-%') ORDER BY birthdate"


##  #retrieve the rows from the database and hold that value for python
rows = click.execute(select_all).fetchall() 



##  #print the rows in python for us to see


## #create an email list
fmt_email_customer = "{1} {2} ({8}) ---> {3}"  ## #removed sensitive data beyond scope of necessity

for v in rows:
    customer_email_view = fmt_email_customer.format(*v)
    print() #extra space for clear view
    print(customer_email_view)

Raymund Postlethwaite (1930-10-02) ---> rpostlethwaite2@nasa.gov

Karissa Wannes (1938-10-04) ---> kwannes22@sciencedaily.com

Tersina Youd (1941-10-27) ---> tyoud1v@joomla.org

Christean Sanchez (1953-10-18) ---> csanchez1d@g.co

Jody Willatts (1962-10-04) ---> jwillatts0@wordpress.com

Therese Christmas (1968-10-08) ---> tchristmas4@1und1.de

Juliane Birtle (1968-10-29) ---> jbirtle25@cnn.com

Aaren Kemm (1984-10-12) ---> akemmr@patch.com

Goddart Root (1993-10-12) ---> grootc@columbia.edu

Merna Shakesby (1998-10-19) ---> mshakesby1s@flavors.me

### Now I want to merge and join tables around to get some deeper insight into the data. Maybe find a way to export a document here -- the database as a sql file?

## do pandas explorations /// make in-notebook graphs using matplotlib highlighting sales / questions

## get familiar with tableau /

In [49]:
conn.close()